h1{
    font-size: 30px;
    margin-bottom: 0;
}
nav{
    padding: 12px 0;
    width: 100%;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.menu{
    padding: 0 15px;
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    transition: all 0.4s linear;
}
ul a{
    margin: 0 6px;
    display: block;
    padding: 10px 12px;
    color:#31344b;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    transition: all 0.3s linear;
    position: relative;
}
ul a:hover::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                    inset 3px 3px 5px #ceced1;
}
.button{
    display: none;
    cursor: pointer;
}
.iconMenu{
    font-size: 26px;
}
@media (max-width:768px){
    .menu .listMenu{
        display: block;
        position: fixed;
        top:0;
        left: 0;
        padding-top: 45px;
        padding-left: 0;
        width: 100%;
        max-width: 380px;
        background: #ecf0f3;
        box-shadow: 0 5px 10px #b0b0b0;
        z-index: 12;
        height: 100%;
        text-align: center;
    }
    .menu ul a{
        font-size: 18px;
        box-shadow: none;
        
    }
    .listMenu a{
        margin-top: 30px;
    }
    .button{
        display: block;
    }
    .btnclose{
        position: absolute;
        top:30px;
        right: 30px;
    }
}
@media (max-width:576px){
    nav{
        padding: 8px 0;
    }
    h1{
        font-size: 24px !important;
    }
    .btnmenu{
        margin-left: 15px;
    }
    .iconMenu{
        font-size: 20px;
    }
    ul a{
        padding: 0;
        font-size: 10px;
    }
    .navbar_user{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checkout_items{
        font-size: 12px;
    }
}