
.section{
    text-align: center;
    margin-top: 72px;
    overflow: hidden;
}

.BestSeller{
    color:#1e1e27;
}

.slider{
    max-width: 1178px;
    margin: auto;
}
.cart{
    padding: 10px;
    border: 1px solid transparent;
}
.cart:hover{
    border: 1px solid gray;
}
.cart_image{
    height: 200px;
}
.cart_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart_title{
    margin-top: 20px;
    transition: all 0.1s linear;
}

.cart_title:hover{
    color:pink
}

.cart_btn--green{
    background: white;
    outline: none;
    border: none;
    padding: 8px 14px;
    margin-top: 10px;
    border-radius: 20px;
}

.cart_btn--green:hover{
    background: rgb(140, 204, 140);
}

.slick-next{
    width: 40px;
    height: 40px;
    right:0px;
}
.slick-prev{
    width: 40px;
    height: 40px;
    left:0px;
    z-index: 100;
}

.slick-next::before{
    color:blueviolet;
    font-size: 24px;
}

.slick-prev::before{
    color:blueviolet;
    font-size: 24px;
}
@media(max-width:992px){
    
}