.main_slider
{
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-position:center center;
}
.main_slider_content
{
	width: 60%;
}
.main_slider_content h6
{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 29px;
}
.main_slider_content h1
{
	font-weight: 400;
	line-height: 1;
}
.red_button
{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #fe4c50;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.red_button:hover
{
	background: #FE7C7F !important;
}
.red_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.shop_now_button
{
	width: 140px;
	margin-top: 32px;
} 

@media only screen and (max-width: 1199px)
{
	.main_slider
	{
		min-height: 475px;
		height: calc(100vw / 1.714);
	}
	.main_slider_content
	{
		width: 80%;
	}
}

@media only screen and (max-width: 991px)
{
	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 767px)
{
	.main_slider_content h6
	{
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 479px)
{
.main_slider
	{
		height: calc(100vh - 70px);
		min-height: auto;
	}
	.main_slider_content h6
	{
		margin-bottom: 15px;
	}
	.main_slider_content h1
	{
		font-size: 24px;
	}
}