.inforItemCart{
    width: 300px;
    margin-top: 20px;
}
.item-image img{
    height:200px;
    width:180px
}
.priceItemCart{
    font-size: 18px;
    margin-bottom: 0;
}
.cartBtn{
    border: 1px solid gray;
    margin-right: 8px;
    font-size: 13px;
}
@media(max-width:576px){
    .item-image{
        display: flex;
        align-items: center;
    }
    .item-image img{
        width: 140px;
        height: 140px;
    }
    .priceItemCart{
        font-size: 10px;
    }
    .inforItemCart{
        margin-right: 30px;
        padding: 0;
    }
    .cartBtn{
        width:40px;
        height:40px;
    }
    .sizeItem{
        font-size: 12px;
    }
    .cartBtn{
        margin-right: 4px;
        width: 25px;
        height: 25px;
    }
    .billCart h5{
        font-size: 16px;
    }
}
.cartBtn{
    cursor: pointer;
    padding: 5px;
    background-color: violet;
}