#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(61, 59, 59, 0.555);
    z-index: 2;
    justify-content: center;
    align-items: center;
}